
@{
    ViewBag.Title = "Region";
}

<h2>Region</h2>
<form>
    <button id="" onclick="bu"></button>
    
    

</form>
<address>
    余杭塘路<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>